body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
}

.footer{
    background-color: azure;
    
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    
    
}

.social-logos {
    text-decoration: none;
    gap: 15px;
}

a{
    color: black;
    text-decoration: none;
}

.row{
    display: flex;
    
}

.card{
    border: none;
    margin-bottom: 2rem;
}

.card-img-top{
    
    border-radius: 1rem;
    width: 100% !important;
    object-fit: cover !important;
    height: 15rem !important;
}

.card-text{
    padding: 0;
}

.card-img-overlay:hover{
    background-color: rgb(255, 255, 255);
    opacity: .2;
}

.show-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.show-btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1rem;   
}

.show-btn{
    margin: 0;
    width: 6rem;
    height: 2.5rem;
    
}